In [1]:
#Importando a biblioteca

import pandas as pd

In [2]:
#Importando o conjunto de dados

df = pd.read_csv('http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv')

In [4]:
#Mostrando as 5 primeira das linhas do nosso DataFrame

df.head()

,user_gender,user_birthdate,user_residence,ride_date,time_start,time_end,station_start,station_end,ride_duration,ride_late
0,M,1971-06-08,NaN,2018-01-01,06:05:18,06:21:33,11 - Rodoviária 2,41 - Instituto de Artes,16.250000,0.0
1,M,1989-02-11,DF,2018-01-01,06:27:01,06:32:17,26 - Ministério da Saude,28 - CNMP - Conselho Nacional do Ministério Pú...,5.266667,0.0
2,M,1968-07-19,NaN,2018-01-01,06:29:33,06:44:57,11 - Rodoviária 2,43 - Biblioteca Central,15.400000,0.0
3,M,1991-12-19,NaN,2018-01-01,06:53:53,06:59:45,10 - Ministério dos Transportes,6 - Rodoviária,5.866667,0.0
4,M,1969-03-03,DF,2018-01-01,06:58:56,17:40:04,15 - Brasil 21,11 - Rodoviária 2,641.133333,1.0

## Um pouco de informações estatísticas

****

Podemos dizer que uma ds primeiras ações para se iniciar uma analise exploratória das variáveis, é buscando informações estatísticas básicas, como os `quartis`, a fim de ter tal visualização podemos utilizar o método `describe`, que irar nos retornar as seguintes inforações:

- **count** - quantidade de entradas válidas
- **mean** - média dos valores
- **std** - desvio padrão
- **min** - menor valor da coluna
- **25%** - percentil(quarti) 25 
- **50%** - percentil(quarti) 50
- **75%** - percentil(quarti) 75
- **max** - maior valor da coluna

In [7]:
#Agora iremos verficar as infromações estatísticas básicas de nosso df

df.describe()

       ride_duration      ride_late
count  214148.000000  214148.000000
mean       29.915932       0.098829
std        58.857297       0.298433
min         3.000000       0.000000
25%         8.083333       0.000000
50%        14.200000       0.000000
75%        33.766667       0.000000
max       999.600000       1.000000

### Média

- Caso seja necessário verficarmos a média de alguma de nossas variáveis numéricas, basta executarmos o métodos `mean` na Series.

Ex: 

  `df.coluna_analisada.mean()`

In [6]:
# Verficando a média na couluna ride_duration

df.ride_duration.mean()

29.915931894453053

### Mediana

- A mediana pode ser descrita como valor que separa a metade maior e a metade menor de um determinado conjunto.

Ex : 

 `meus_dados = [1,1,3,8,9]`

- No exemplo acima o valor que "está no meio" é o número 3.

In [9]:
#Agora iremos calcular nossa mediana 

pd.Series([1,1,3,8,9]).median()

3.0

## Desvio Padrão

Desvio padrão é uma medida de dispersão em torno da média populacional de uma variável.

$$SD = \sqrt{\frac{1}{n}\sum_{i=1}^{n}(x_i - \overline{x}) ^ 2}$$

Falando simplificadamente, um número alto do desvio padrão indica que os dados estão bem espelhados em relação à sua média. Já um desvio padrão baixo mostra que os valores estão mais agrupados, mais "juntos".

Por exemplo, na figura abaixo temos um exemplo de valores altos e baixos para o desvio padrão. Em vermelho os dados estão mais próximos à sua média, e em azul estão bem mais espalhados.

<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Comparison_standard_deviations.svg/400px-Comparison_standard_deviations.svg.png"></center>

Para quem não está acostumado com gráficos de distribuições, um exemplo que funciona muito bem é o do tiro ao alvo.

Olhe na figura abaixo como os tiros estão localizados em cada uma das situações. Identifique mentalmente quais tem maior ou menor dispersão, ou seja, desvio padrão.

<center><img src="https://raw.githubusercontent.com/carlosfab/dsnp2/master/img/precisao_exatidao.jpg" height="250px"></center>

O conceito que eu quero que você se atente é o achatamento da curva. Como os valores se "aglomeram" em torno da média ou se dispersam em torno dela. Veja também mais essa outra figura abaixo, colocando as distribuições lado a lado.

<center><img src="https://raw.githubusercontent.com/carlosfab/dsnp2/master/img/precisao_vs_exatidao2.jpg" height="200px"></center>

Para calcular o desvio padrão de qualquer coluna, basta executar o método `std()` para a variável.

In [10]:
# Calculando nosso desvio padrão

df.ride_duration.std()

58.857296541638746

## Valores máximos e minímos

-  Caso seja necessário calular os valores máximo devsmos utilizar a função `max()`, agora se nossa necessida for o valor minímos, devemos utilizar a função `min()`

In [11]:
#Valor máximo

df.ride_duration.max()

999.6

In [12]:
df.ride_duration.min()

3.0